* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
}

#entry {
    background-color: #444;
    min-height: 100vh;
    color: white;
    padding-top: 25vh;
}

#mainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    height: 40vh;
    align-content: center;
    margin: 0 5vw;
    padding-bottom: 3vh; 
}

#mainDiv img {
    grid-column: 1;
    grid-row: 1 / 4;
    border-radius: 50%;
    height: 100%;
    width: auto;
    margin-right: 5px;
    margin-left: auto;
}

#mainDiv h1 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    font-size: 600%;
    padding-top: 40px;
    padding-left: 5vw;
}

@media (max-width: 1280px) {
    #mainDiv h1 {
        font-size: 350%;
    }
}

#mainDiv p {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    font-size: 150%;
    padding-left: 5vw;
    padding-right: 4vw;
}

@media (max-width: 1280px) {
    #mainDiv p {
        font-size: 120%;
    }
}

#secondDiv {
    display: flex;
    height: 100%;
    margin-top: 15vh;
    justify-content: space-around;
}

#secondDiv h2 {
    transition: color 0.5s, font-size 0.3s;
    letter-spacing: 1.05px;
}

#secondDiv h2:hover {
    color: yellow;
    -webkit-text-stroke: 1px yellow;
    cursor: pointer;
}

#portfolio {
    min-height: 100vh;
    padding-top: 15vh;
}

.section-head h2 {
    text-align: center;
    font-size: 600%;
}

.section-p {
    text-align: center;
}

#photography {
    min-height: 100vh;
    background-color: lightgrey;
    padding-top: 15vh;
}

#contact {
    min-height: 100vh;
    background-color: black;
    color: white;
    padding-top: 15vh;
}